---
name: ci

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main

env:
  GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
  GRADLE_SWITCHES: "-s --console=plain --info --stacktrace"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: set-up-jdk
        uses: actions/setup-java@v3.13.0
        with:
          distribution: zulu
          java-version: 17
          cache: gradle
      - name: build
        run: ./gradlew ${GRADLE_SWITCHES} build test

  publish-snapshots:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: set-up-jdk
        uses: actions/setup-java@v3.13.0
        with:
          distribution: zulu
          java-version: 17
          cache: gradle
      - name: publish-snapshots
        if: github.event_name == 'push'
        timeout-minutes: 30
        run: ./gradlew ${GRADLE_SWITCHES} snapshot
