---
name: maven-versions-use-latest-releases

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 11 * * WED

jobs:
  bump-releases:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven
          server-id: ossrh
          settings-path: ${{ github.workspace }}
      - name: configure-git-user
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: maven-versions-use-latest-releases
        run: |
          mvn versions:use-latest-releases
          git diff-index --quiet HEAD pom.xml || git commit -m "Use latest releases for Maven" pom.xml && git push origin main && rm -f pom.xml.versionsBackup
